@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&family=Changa:wght@600&family=Righteous&family=Vina+Sans&display=swap');

/* Estilo para el cuerpo de la página */
body {
    background: rgb(44, 62, 80);
    background: linear-gradient(125deg, rgba(44, 62, 80, 1) 36%, rgba(59, 54, 70, 1) 83%);
    color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Estilo para el encabezado */
.header {
    display: flex;
    align-items: center;
    background: rgb(56, 46, 79);
    background: linear-gradient(125deg, rgba(56, 46, 79, 1) 36%, rgba(86, 36, 196, 1) 83%);
    border-bottom: solid 1px #550dd2;
    margin-bottom: 2vh;
    padding: 0 6rem;
    font-size: 3vh;
}
.register{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.button{
    background-color:greenyellow ;
    border: none;
    padding: 1vh;
    border-radius: 6px;
    font-family: 'Righteous', cursive;
    font-size: 2vh;
    transition: all 0.6s ease;
}
.button:hover{
    background-color: #a068ff;
    color: white;
}
.button:active{
    transform: scale(0.95);
    background-color: aqua;
}
/* Estilo para los títulos */
.titulo {
    font-size: 2.2rem; /* Tamaño base del título */
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin: 0;
  }
  
  @media screen and (max-width: 768px) {
    /* Para pantallas de hasta 768px de ancho */
    .titulo {
      font-size: 1rem; /* Tamaño reducido del título */
    }
  }
  
  @media screen and (max-width: 576px) {
    /* Para pantallas de hasta 576px de ancho */
    .titulo {
      font-size: 0.3rem; /* Tamaño aún más reducido del título */
    }
  }  
h1,
h2 {
    color: #fff;
    font-family: 'Righteous', cursive;

}

/* Estilo para los formularios */
form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: bold;
}

/* Estilo para los campos de entrada */
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para el botón de enviar */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #a068ff;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #550dd2;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn:active {
    transform: scale(0.98);
}

/* Estilo para el resultado */
.totales {
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
    color: #38E316;
    font-family: 'Righteous', cursive;
    border-radius: 5px;
    padding: 4px 8px;
}
.egresos{
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
    color: #E31616;
    font-family: 'Righteous', cursive;
    border-radius: 5px;
    padding: 4px 8px;
}
table {
    width: 100%;
    max-width: 800px;
    margin: 1vh auto;
    color: white;
    font-family: Arial, sans-serif;
}

th,
td {
    padding: 2vh;
    text-align: left;
    color: #fff;
    font-size: 2vh;
}

th {
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #1e1c1c69;
}

tr:hover {
    background-color: #777777;
}
.li{
    text-decoration: none;
    font-family: 'Changa', sans-serif;
    transition: all 0.9s ease;
}
.li:hover {
    color: #a068ff;
}

footer {
    background: rgb(34, 38, 59);
    background: linear-gradient(125deg, rgba(34, 38, 59, 1) 36%, rgba(50, 31, 62, 1) 83%);
    color: #fff;
    padding: 2rem;
    text-align: center;
}

footer a {
    color: #fff;
}

footer p {
    margin-bottom: 0;
}
.footer{
    margin: 80px 0 0 0;

}

.grafico1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
